# Python & VE
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.env

.ipynb_checkpoints
*.ipynb

!notebooks/*.ipynb

# Manga109 dataset
data/
dataset/
*.jpg
*.jpeg
*.png
*.xml

!demo/*.jpg
!demo/*.png

# Model Weights & Checkpoints
*.pt
*.pth
*.h5
*.hdf5
*.onnx
*.weights
models/
runs/
checkpoints/

# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

kaggle
wandb
notes.txt
debug_rpn.py